* {
  margin: 0;
  padding: 0;
}

#canvas {
  background-color:red;
  margin-bottom: -5px;
}

#curves {
  background-color: purple;
  left: 900px;
}

#trial {
  background-color: orange;
  left: 1200px;
}

.customCurve {
  display: flex;
  flex-direction: column;
}

header, #trial, .instructions {
  position: absolute;
}

.canvasBox {
  background-color: grey;
}

button {
  z-index: 100;
  padding: 10px 15px;
  margin: 20px auto;
  color: #FFFDFD;
  background-color: #555;
  border: 0 none;
  cursor: pointer;
  height: 100%;
}
