* {
  margin: 0;
  padding: 0;
}

.curveToolbar {
  border-radius: 3px;
  border: 1px solid;
  cursor: -webkit-grab; cursor: -moz-grab;
}

.curveToolbar:active {
  cursor: -webkit-grabbing; cursor:-moz-grabbing;
}

.instructions {
  position: absolute;;
  margin: 2%
}

#curveToolbar {
  position: absolute;;
  left: 2%;
  top: 75%;
  z-index: 100;
}

input {
  display: block;
  font-size: 17px;
  margin: 2%;
  padding: 1%;
  width: 50%;
  border-radius: 3px;
  border: 1px solid #BABABA;
}

button {
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  cursor: pointer;
}

h1 {
  font-family: 'Bungee Outline', cursive;
  font-size: 48px;
  width: 100%;
  margin-bottom: 1%;
}

p {
  font-family: 'Open Sans', sans-serif;
  width: 32%;
  font-size: 20px;
}
