* {
  margin: 0;
  padding: 0;
}

.curveToolbar {
  border-radius: 3px;
  border: 1px solid;
  cursor: -webkit-grab; cursor: -moz-grab;
}

.curveToolbar:active {
  cursor: -webkit-grabbing; cursor:-moz-grabbing;
}

.instructions {
  position: absolute;;
  margin: 2%
}

#curveToolbar {
  position: absolute;;
  left: 2%;
  /*top: 75%;*/
  bottom: 2%;
  z-index: 100;
}

input, select {
  display: inline;
  font-size: 17px;
  margin: 2%;
  padding: 1%;
  width: 19%;
  border-radius: 3px;
  border: 1px solid #BABABA;
}

label {
  line-height: 53px;
  margin-left: 2%;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

#dropdown {
  width: 21%;
  height: 36px;
}

#inputRange {
  display: inline-block;
  width: 36%;
}

button {
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  cursor: pointer;
}

h1 {
  font-family: 'Bungee Outline', cursive;
  font-size: 48px;
  width: 37%;
  margin-bottom: 1%;
}

p {
  font-family: 'Open Sans', sans-serif;
  width: 37%;
  font-size: 20px;
}

.iterationParent, .angleParent {
  display: flex;
}

#arrow-up, #arrow-down {
  width: 0;
  height: 0;
  cursor: pointer;
}

#arrow-up {
  margin-bottom: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3498DB;
}

#arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3498DB;
}

#warning {
  line-height: 50px;
  margin-left: 2%;
}

#buttons {
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.angleLable {
  margin-right: 7%;
}

.speedLable {
  margin-right: 5%;
}

.github {
  position: absolute;
  bottom: 1%;
  right: 2%;
}
