.container {
  height: 100vh;
  width: 100vw;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  display: inline-block;
  width: 75%;
  height: 100%;
  background-color:red;
}

#curves {
  display: inline-block;
}
